<ion-app>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Main</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="button-container">
        <ion-button class="circle-button daily-prayer" (click)="goToPage('daily-prayer')">
          <img src="../assets/image1.jpg" alt="Daily Prayer">
          <p>दैनिक प्रार्थना</p>
        </ion-button>
        <ion-button class="circle-button mass" (click)="goToPage('mass')">
          <img src="../assets/image1.jpg" alt="Mass">
          <p>मिस्सा पाठ</p>
        </ion-button>
        <ion-button class="circle-button bhajan" (click)="goToPage('bhajan')">
          <img src="../assets/image1.jpg" alt="Bhajan">
          <p>भजन</p>
        </ion-button>
      </div>

    </ion-content>
    <ion-icon></ion-icon>
  </div>
</ion-app>